
body {
   font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
	color: #E8E9EB;
  background: #333333;
  text-align: center;
}

.theme {
    background-color: #5e5e5e; /* Green */
    border: none;
    color: white;
	width: 22px;
	height: 22px;
	margin: 5px;
    display: inline-block;
}
.theme2 {
    background-color: #f17300; /* Green */
}
.theme3 {
    background-color: #7cb518; /* Green */
}
.theme4 {
    background-color: #00a6fb; /* Green */
}
.theme0 {
    background-color: #333333;
	background-image: linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #fbfbfb 51%);

}


.title{
	font-weight: bold;
	font-size: 40px;
}
.ritle{
	font-weight: normal;
	margin-top: -20px;

}

.wrap {
   
    margin-top: -15px;
    margin-left: 0px;
    text-align: center;
}
.outder{

    border: 5px;
	border-color: #00A6FB;
    padding: 25px;
	background: #00A6FB;
	color:#E8E9EB;
    margin: 40px auto;
    border-radius: 8px;
    padding-top: 20px;
	padding-bottom: 20px;
	width: 70%;
}

a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 100px;
    text-decoration: none;
    border-radius: 8px;
    padding-top: 10px;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-right: 25px;
}

a.button {
    color: rgba(255,255,255, 0.7);
	background:#00A6FBb3;
    box-shadow: #00A6FB66 0 0px 0px 3px inset;
}

a.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #00A6FBb3 0 0px 0px 40px inset;
}

.big {
  font-size: 1.2em;
}

.small {
  font-size: .7em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #00A6FB;
  color: #E8E9EB;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  /*Hiding the select arrow for firefox*/
  -moz-appearance: none;
  /*Hiding the select arrow for chrome*/
  -webkit-appearance:none;
  /*Hiding the select arrow default implementation*/
  appearance: none;
}
/*Hiding the select arrow for IE10*/
.custom-dropdown select::-ms-expand {
    display: none;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0,0,0,.2);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.6);
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.25);
}